
.about {
  height: 100vh;
  overflow-x: auto;
  .text-content-wrapper {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(rgba($silver, 0.3), rgba($lightOffWhite, 1), rgba($lightOffWhite, 1), rgba($lightOffWhite, 1), rgba($silver, 0.3));
    // padding: 0 250px;
    
    // border: 1px solid blue;
    .text-content {
      height: 500px;
      width: 100%;
      // background: rgba($silver, 1);
      display: flex;
      // align-items: center;
      justify-content: center;
      flex-direction: column;
      p {
        
        padding: 0 260px;
      }
    }
  }
}