.show-wrapper {
  position: relative;
  z-index: 20;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  .full-size-image-wrapper {
    height: 90%;
    img {
      height: 100%;
    }
  }
}