body {
  margin:0;
  padding:0;
  // height: 100vh;
  box-sizing: border-box;
  background-color: rgba($lightOffWhite, 1);
  font-family: 'Special Elite', cursive;
}

.main-content {
  
  height: 100vh; 
}
