.image-gallery {
  // height: 500px;
  height: 100%;
  font-size: 0;
  white-space: nowrap;
  // display: flex;
  // align-items: center;
  &:first-of-type {//class given to ember link helper that is wrapping images
    padding-left: 230px;
  }
  .image-wrapper {
    height: 100%;
    display: inline-block;
    background: linear-gradient(rgba($blue, 0.2), rgba($lightOffWhite, 1), rgba($lightOffWhite, 1), rgba($lightOffWhite, 1), rgba($blue, 0.2));
    .gallery-image {
      height: 500px;
      position: sticky;
      top: calc(50% - 250px);
      // border: 1px solid blue;
      display: inline-block;
    }
  }
  
}